/* navbar */
.navbarContainer {
    font-family: 'Courgette', cursive;
   
}

.navbar-brand {
    font-size: 35px;
}

.navbar-nav a {
    font-size: larger;
}

#logout {
    background-color: rgb(23, 162, 184);
    font-family: 'Courgette', cursive;
    border: 0px;
    padding: 0px;
    margin: 0;
    font-display: center;
}

/* total page */
.pagesContent {
    padding: 64px 0px 0px;
    height:-webkit-fill-available;
}

/* matching list */
.matchingList {
    border: solid 1px rgba(0,0,0,0.5);
    background-color:rgba(10,186,181,0.25);
    padding:0;
}

.matchingListTitle {
    padding-top: 25px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    background-color: white;
    text-align: center;
}

.matchingPeopleList>div {
    height: 60px;
    margin: 0px;
    border: solid 1px rgba(0,0,0,0.5);
    border-collapse: collapse;
}

.matchingPeopleList>div:hover {
    background-color: rgba(10,186,181,0.5);
}

.matchingPeopleContent>img {
    border-radius: 50px;
    max-height: 45px;
    max-width: 55px;
    margin-top: 0px;
    position: relative;
    align-self: center;
}

.matchingPeopleContent>h6 {
    position: relative;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 80px;
    font-size: 20px;
}

.matchingPeopleContent>button {
    position: absolute;
    right: 0;
    align-self: center;
}

.showDetailList {
    border: solid 1px rgba(0,0,0,0.5);
    padding: 0px;
    
}

.fa-heart {
    color: rgb(208, 107, 124);
    margin: 5px;
}

.fa-heart:hover {
    color: rgb(232, 3, 41);
    cursor: pointer;
}

.fa-dizzy {
    color: #586D29;
    margin: 5px; 
}

.fa-dizzy:hover {
    color: #7C9618;
    cursor: pointer;
}


/* User selfIntroduction */
.userDetails {
    border: solid 1px rgba(0,0,0,0.5);
    height: 140px;
}

.userDetails:hover {
    background-color: rgba(0,0,50,0.4);
}

.tickCrossButton {
    position: absolute;
    right: 0;
    align-self: center;
}

#refresh {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
}